$fontDayNight: "Fresca", sans-serif;
$bckgColor: #21232e;
$backgroungImgSrc: "../img/m-h-night.jpg";
$fontHeaderColor: #fff;
$fontMainColor: lightgray;
$fontFooterColor: lightgray;
$selectedWordsColor: #ff4e33;
$btnColor: #e3ac00;
$bckgCardFooter: #3b3f50;
$bannerGradientColors: rgba(224, 167, 4, 1) 0%, rgba(188, 110, 40, 1) 50%,
  rgba(149, 49, 79, 1) 100%;
