$fontDayNight: "Source Sans Pro", sans-serif;
$bckgColor: #fff;
$backgroungImgSrc: "../img/m-h-day.jpg";
$fontHeaderColor: #2c2f3c;
$fontMainColor: lightgray;
$fontFooterColor: lightgray;
$selectedWordsColor: #14a0c7;
$btnColor: #699900;
$bckgCardFooter: #21232e;
$bannerGradientColors: rgba(105, 149, 13, 1) 0%, rgba(75, 122, 106, 1) 50%,
  rgba(48, 94, 205, 1) 100%;
